<div class="container pb-3" style="background-color: white;">

	<h2> Ceremony Start </h2>

	<p>
		Ceremony will start at 430 PM. Reception will begin immediately following ceremony and will include dinner.
	</p>

	<p>
		Please wear formal attire.
	</p>


	<h3>
		Wedding Brunch
	</h3>

	<p> 
		 We would love to spend our first married morning at a delicious dive bar brunch with you!
	</p>

	<p>
		There will be a post-wedding brunch at Buffalo Gap Saloon, at 10:30 AM on Sunday.
	</p>
	<p>
		Come and go as you please, no RSVP necessary. 
	</p>
	<p>
		We have reserved private space and have access to rest of saloon as needed.
	</p>
	<p>
		Kids welcome! 
	</p>
	<p>
		There will be a small parking lot on site and plenty of free street parking on the side streets off Macadam. Please save parking lot for those who need close parking. 
	</p>
	<p>
		Please note that room reservation ends promptly at 1:30 and we will need to head out then on our mini-moon to Bend, OR! 
	</p>
	<p>
		The saloon is located in the pretty South Waterfront neighborhood just off the Willamette Greenway Trail
	</p>

</div>