<div class="container" style="background-color: white;">
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Where is the wedding?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        The ceremony and reception will both be held at Oswego Hills Vineyard which is located about a 25 minute drive south of Portland in West Linn, Oregon. The venue is located within the Stafford unincorporated area and the closest services are located in Lake Oswego, about a 10 minute drive from the venue. 
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Transportation and Parking
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        The wedding is accessible by car. Ubers to and from the venue are readily available. If you are driving to the venue please enter the grounds from either of the entrances off Rosemont Road. Ample parking will be available on site.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Will there be food?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Yes! Appetizers, dinner, and dessert will be served! Please advise us of any dietary restrictions on the <%= link_to "RSVP form", rsvps_path %>. Food catering to a variety of needs and preferences will be served. 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-target="#collapseFour">
          Is there an open bar?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse">
      <div class="card-body">
        Yes! There will be an open bar of wine, beer, hard cider, and hard seltzer for all guests over age 21 (who have not marked themselves as non-alcohol drinking on the <%= link_to "RSVP form", rsvps_path %>).
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-target="#collapseFive">
          Are children allowed at the wedding? 
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse">
      <div class="card-body">
         Yes, your children are welcome! Please specify how many children you will be bringing to the wedding on the <%= link_to "RSVP form", rsvps_path %>. There will be non-alcoholic drinks and all ages games at the wedding. 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-target="#collapseSix">
          Do I need to bring anything to the wedding? 
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse">
      <div class="card-body">
        If you do want to gift us anything else besides your presence, please see the registry link on this website or bring what you prefer to the wedding. 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-target="#collapseSeven">
          Are pets allowed at the wedding?
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse">
      <div class="card-body">
        Pets are not allowed at the venue due to the venue’s rules. Service animals are welcome. 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-target="#collapseEight">
          Seasonal allergies
        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse">
      <div class="card-body">
        We advise guests that the wedding is occurring during allergy season in Oregon and our wedding will have flowers in and around the venue. We highly recommend having allergy medication on hand for the duration of your trip. 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-target="#collapseNine">
          What should I wear to the wedding?
        </button>
      </h5>
    </div>
    <div id="collapseNine" class="collapse">
      <div class="card-body">
        We request that guests wear formal or semi-formal attire to the wedding as is comfortable. Please wear shoes safe to traverse short distances of gravel and grass. 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-target="#collapseTen">
          Venue Accessibility and Comfort
        </button>
      </h5>
    </div>
    <div id="collapseTen" class="collapse">
      <div class="card-body">
        For the most part the venue is quite accessible with designated parking for those with disability placards and has no stairs within the main areas of the venue. However, guests may need to walk on gravel through the parking lot and on grass. Drop off directly in-front of reception area doors is possible for those unable to walk over those surfaces. The venue has plenty of indoor and outdoor space. In-case of rain you will not have to spend time outdoors during the wedding besides walking from the car. 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-target="#collapseEleven">
          Packing Recommendations
        </button>
      </h5>
    </div>
    <div id="collapseEleven" class="collapse">
      <div class="card-body">
        Please keep an eye on the weather forecast in advance of the wedding. We highly recommend packing light rain gear as well as some warm weather options.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-target="#collapseTwelve">
          Where should I stay in the area?
        </button>
      </h5>
    </div>
    <div id="collapseTwelve" class="collapse">
      <div class="card-body">
        We recommend staying in Portland for the best selection of accommodations. Portland has many great reasonably priced hotels and Airbnbs. The Residence Inn by Marriott Downtown/RiverPlace, the Residence Inn by Marriott Portland Downtown/Pearl District, and the Hampton Inn & Suites Portland Pearl District are our top hotel recommendations. NW Portland Hostel is the best hostel option. If you prefer to stay a bit closer to the venue or in a more suburban locale, a hotel in Lake Oswego or Tualatin is your best option (perhaps The Lakeshore Inn or the Residence Inn by Marriott Portland South/Lake Oswego). 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-target="#collapseThirteen">
          What is there to do in the area?
        </button>
      </h5>
    </div>
    <div id="collapseThirteen" class="collapse">
      <div class="card-body">
        Portland and its surrounding areas have so much to offer within about a one-hour drive! Venture to the wine country to the south and west of the city, spend a day at a river beach to the north, explore the Columbia Gorge and Mt. Hood, or spend time enjoying the countless bars, bookstores, and gardens within the city. If you have the time, make the incredibly scenic three hour drive to Bend, Oregon and enjoy the mountain and prairie views. We are more than happy to make recommendations– please reach out! 
      </div>
    </div>
  </div>
</div>

</div>