<div class="container" style="background-color: white; padding-bottom: 20px;">
	<p>
		<%= link_to "Honeymoon Fund", "https://venmo.com/u/Katherine-Rozsa" %>
	</p>
	<p>
		<%= link_to "Wedding Registry", "https://www.amazon.com/hz/wishlist/ls/M8TQD4SGL8GD?ref_=wl_share" %>
	</p>
</div>
