<div class="container" style="background-color: white; padding-bottom: 20px;">
	<p>
		<%= link_to "Honeymoon Fund", "https://venmo.com/u/Katherine-Rozsa" %>
	</p>
	<p>
		<%= link_to "Wedding Registry", "https://www.amazon.com/wedding/share/katieian" %>
	</p>
	<p>
		Cell contacts:
		510-316-1717
		415-497-3560
	</p>
</div>
